#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.container-fluid {
  padding: 3% 13% 5%;
  /* padding-bottom: 100px; */
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 200;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 19%;
  transform: rotate(25deg);
  position: absolute;
  left: 60%;
}

/* featue section */

#features {
  padding: 7% 12%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
}

h3 {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 1.2rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

/* testimonial-section */

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 1.5;
}

#testimonial {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action section */

#cta {
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
}

.cta-class {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4rem;
  padding: 5% 10% 0 10%;
}

.cta-button {
  padding: 3rem 0 9rem;
}

/* footer section */

#footer {
  background-color: #fff;
  text-align: center;
  /* margin-top: 3%;/ */
  padding: 8%;
}

.footer-links {
  color: rgb(0, 0, 0);
  padding: 2% 3% 5%;
}

.footer-links:hover {
  color: rgb(73, 164, 255);
}

/* for phone */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img{
    transform: rotate(0);
    position: static;
    width: 30%;
  }




}
